.container {
    min-height: 56vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}

form label {
    padding-bottom: 1rem;
    color: #333;
    /*background-color: coral;*/
}

form input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #37634b;
    border-radius: 5px;
    width: 88%;
}

form button {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #223d2e;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #37634b;
}

.query-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 50vw;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tr:last-child td {
    border-bottom: none;
}

tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}